  .custom-drop-area {
    border: 2px dashed #007bff;
    border-radius: 10px;
    padding: 30px 20px;
    background-color: #fdfdfd;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  .custom-drop-area:hover {
    background-color: #f8f9fa;
  }

  .custom-drop-area.bg-light {
    background-color: #e9f5ff !important;
  }

  .img-preview {
    max-height: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }

  .img-view {
    max-height: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }

  .file-name {
    font-size: 0.9rem;
    font-weight: 500;
    color: #555;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .img-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    height: 100%; /* Asegura que el contenedor ocupe todo el alto */
  }

  .img-profile img {
    width: 40px; /* Tamaño de la imagen */
    height: 40px; /* Tamaño de la imagen */
    border-radius: 50%; /* Hace la imagen circular */
    object-fit: cover; /* Asegura que la imagen se recorte y se ajuste dentro del círculo */
  }

